@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-[#dee1c9];
}
h1 {
  @apply font-bold text-3xl;
}
h2 {
  @apply font-bold text-4xl;
}
h3 {
  @apply text-3xl font-semibold;
}
h4 {
  @apply font-[500] text-xl;
}
p,
button,
h5,
li {
  @apply font-normal text-lg md:text-xl;
}
label {
  @apply font-normal;
}
small {
  @apply text-lg font-normal sm:text-xs;
}

b,
strong {
  @apply font-medium;
}
ol {
  li {
    @apply pl-2 list-decimal list-inside md:pl-4;
  }
}
ul.dotted {
  li {
    @apply pl-2 list-disc list-inside md:pl-4;
  }
}

.app-loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#3f3e3e 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
.app-loader.white {
  --c: no-repeat linear-gradient(#ffffff 0 0);
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
